<a href="https://colab.research.google.com/github/AYUSHSRIVASTAVA05/PORE-PRESSURE-ESTIMATION-/blob/main/credit_card_fault_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependecies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
5969,6634,-1.611463,0.190648,0.901715,1.531254,-1.535865,0.799245,1.513786,0.495829,0.200390,...,0.211223,0.007477,1.026272,0.057628,-0.024955,-0.368263,0.081684,0.140669,458.92,0.0
5970,6635,-1.420272,1.449354,1.320110,-1.894320,0.913695,0.454601,0.894179,-0.385450,2.433841,...,-0.529027,-0.368394,-0.247773,-1.189156,-0.126040,0.701487,0.277333,-0.222694,0.77,0.0
5971,6637,-1.206696,0.284728,2.152053,-2.850437,-0.437285,-0.238376,-0.333341,0.334679,2.870542,...,0.039460,0.464476,-0.457193,-0.556105,0.517579,0.008006,0.366054,0.185008,14.00,0.0
5972,6644,1.067611,0.091006,-0.153917,0.704233,0.113894,-0.826866,0.567690,-0.464181,0.957295,...,-0.476723,-1.410090,-0.037550,-0.177773,0.321810,0.114930,-0.109640,0.023205,139.90,0.0
5973,6645,-0.535272,-0.132299,2.180041,1.018303,-1.498819,0.529570,0.420147,0.045445,1.543919,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [8]:
credit_card_data.dropna(inplace=True)

In [9]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    5970
1.0       3
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [10]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(5970, 31)
(3, 31)

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    5970.000000
mean       64.965707
std       192.429839
min         0.000000
25%         4.450000
50%        15.620000
75%        56.485000
max      7712.430000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2677.40201,-0.264965,0.285625,0.844580,0.102656,0.000958,0.195420,0.018542,-0.039195,0.397472,...,0.055426,-0.043268,-0.161540,-0.036683,0.028985,0.089890,-0.040132,0.025238,0.006163,64.965707
1.0,1780.00000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 177

In [15]:
legit_sample = legit.sample(n=177)

Concatenating two DataFrames

In [16]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1530,1200,0.978983,-0.733198,0.907977,0.140817,-1.045510,0.180540,-0.584554,0.167885,0.885877,...,-0.131908,-0.382191,-0.076067,0.102809,0.125835,0.932052,-0.055841,0.021082,118.98,0.0
3785,3289,-1.032195,0.431643,2.107534,2.946651,0.659490,-0.453673,-0.022003,0.225260,-1.688528,...,0.304051,0.522468,-0.171719,0.518010,0.274481,0.405458,0.026009,0.087197,18.20,0.0
2645,2179,-0.226958,0.549470,1.934146,1.362230,-0.230060,-0.046931,0.408061,0.042780,0.058248,...,0.053910,0.440688,-0.185755,0.513023,-0.331037,-0.267937,0.012841,-0.075939,9.95,0.0
680,513,0.166862,1.667709,-2.095559,1.835206,0.876545,-1.481721,-0.323575,-2.866382,-0.573338,...,-1.383098,0.207549,0.550348,-0.006635,-0.554034,-0.421468,0.007827,-0.039904,1.00,0.0
5406,5370,-2.255433,1.908532,0.932137,-0.083560,0.673314,-0.107627,-2.513809,-5.938838,0.980853,...,1.798750,-0.442027,-1.011553,0.412174,-0.462328,0.190158,0.133617,0.094291,39.05,0.0

In [18]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3574,3054,-0.395909,0.531605,-0.655537,-3.181792,2.557768,2.733061,0.395710,0.775118,0.549817,...,0.059056,0.224977,-0.292122,1.009844,0.260401,-0.796048,0.404830,0.202673,1.00,0.0
2641,2174,-0.792222,0.678566,-0.012002,-2.498578,2.260868,3.186467,0.057402,0.958555,0.045167,...,-0.166558,-0.517780,-0.090281,1.032945,-0.130904,0.738932,0.367297,0.231984,11.53,0.0
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0

In [19]:
new_dataset['Class'].value_counts()

0.0    177
1.0      3
Name: Class, dtype: int64

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2605.774011,-0.372812,0.151349,0.821098,0.250964,0.195521,0.098909,-0.063439,-0.045602,0.255101,...,0.114272,-0.120745,-0.104473,-0.041112,-0.010695,0.109091,-0.003207,0.023677,0.022187,57.341808
1.0,1780.000000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000

Splitting the data into Features & Targets

In [21]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [22]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
1530  1200  0.978983 -0.733198  0.907977  0.140817 -1.045510  0.180540
3785  3289 -1.032195  0.431643  2.107534  2.946651  0.659490 -0.453673
2645  2179 -0.226958  0.549470  1.934146  1.362230 -0.230060 -0.046931
680    513  0.166862  1.667709 -2.095559  1.835206  0.876545 -1.481721
5406  5370 -2.255433  1.908532  0.932137 -0.083560  0.673314 -0.107627
...    ...       ...       ...       ...       ...       ...       ...
3574  3054 -0.395909  0.531605 -0.655537 -3.181792  2.557768  2.733061
2641  2174 -0.792222  0.678566 -0.012002 -2.498578  2.260868  3.186467
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920  4462 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788

            V7        V8        V9  ...       V20       V21       V22  \
1530 -0.584554  0.167885  0.885877  ...  0.198751 -0.131908 -0.382191
3785 -0.022003  0.225260 -1.688528  ...  0.302124  0.304051  0.522468
2645  0.408061  0.042780  0.058248  ... -0.043967  0.053910  0.440688
680  -0.323575 -2.866382 -0.573338  ...  0.491173 -1.383098  0.207549
5406 -2.513809 -5.938838  0.980853  ... -0.453654  1.798750 -0.442027
...        ...       ...       ...  ...       ...       ...       ...
3574  0.395710  0.775118  0.549817  ...  0.085199  0.059056  0.224977
2641  0.057402  0.958555  0.045167  ...  0.284991 -0.166558 -0.517780
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477
4920  0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391

           V23       V24       V25       V26       V27       V28  Amount
1530 -0.076067  0.102809  0.125835  0.932052 -0.055841  0.021082  118.98
3785 -0.171719  0.518010  0.274481  0.405458  0.026009  0.087197   18.20
2645 -0.185755  0.513023 -0.331037 -0.267937  0.012841 -0.075939    9.95
680   0.550348 -0.006635 -0.554034 -0.421468  0.007827 -0.039904    1.00
5406 -1.011553  0.412174 -0.462328  0.190158  0.133617  0.094291   39.05
...        ...       ...       ...       ...       ...       ...     ...
3574 -0.292122  1.009844  0.260401 -0.796048  0.404830  0.202673    1.00
2641 -0.090281  1.032945 -0.130904  0.738932  0.367297  0.231984   11.53
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00
4920  0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93

[180 rows x 30 columns]

In [23]:
print(Y)

1530    0.0
3785    0.0
2645    0.0
680     0.0
5406    0.0
       ...
3574    0.0
2641    0.0
541     1.0
623     1.0
4920    1.0
Name: Class, Length: 180, dtype: float64

Split the data into Training data & Testing Data

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [34]:
print(X.shape, X_train.shape, X_test.shape)

(180, 30) (144, 30) (36, 30)

Model Training

Logistic Regression

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [37]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [38]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  1.0

In [39]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9722222222222222